a {
    text-decoration: none;
}

ul {
    list-style: none; 
}

h1{
    font-family: 'Inter';
    text-transform: uppercase;
}
/* aqui pode ir adicionando outras propriedades paras as tags serem inicializadas com esses valores */