/* AQUI CONTEM ALGUNS VALORES PADROES QUE PODEMOS USAR NO PROJETO COM UM TODO */
/* SÃO VALORE QUE NÃO MUDAM, É PARA EVITAR DE FICAR DIGITANDO O MESMO CONTEUDO EM VARIAS PARTES DO PROJETO, CORRENDO O RISCO DELE SER ALTERADO, DEIXAMOS ELES JA AQUI */
/* ALEM DAS CORES, O ROOT SUPORTA TAMANHO DE FONTE TAMBÉM */

:root {
    /* CORES ACIMA */
    --azul: #2400FF;
    --roxo: #BD00FF;
    /* TAMANHO DE FONTES */
    --tamanho-padrao-fonte: 1rem;
}
/* PODE IR ADICIONANDO MAIS VALORES AI */
/* SEGUNDO ESSE PADRAO DE ESCRITA COM DOIS TRAÇOS E SEPERANDO AS PALABRAS COM UM TRAÇO */