/* EXEMPLOS DE CHAMADA DOS VALORES DE root.css */
.teste {
    color: var(--roxo);
    font-size: var(--tamanho-padrao-fonte);
}

.h1{
    color: var(--azul);
    font-size: var(--tamanho-padrao-fonte);
    position: absolute;
    width: 14.56rem;
    height: 1.87rem;
    left: 2rem;
    top: 4.12rem;
    line-height: 1.87rem;
}

.texto,
.texto1{
    color: var(--azulescuro);
    font-size: var(--tamanho-padrao-fonte);
    position: absolute;
    width: 9.68rem;
    height: 1.5rem;
    left: 1.87rem;
    top: 9.81rem;
    line-height: 1.5rem; /*1.5rem igual a 24px*/
}

.texto1{
    width: 18.56rem;
    height: 1.5rem;
    left: 1.80rem;
    top: 12.56rem;
    line-height: 1.5rem;
}